:root {
  --beige: #f5f5dc;
  --dark: #222222;
  --light-dark: #333333;
  --border-color: #444444;
  --accent-color: #e0c97f; /* Un beige más oscuro para acentos */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--beige);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1, h2 {
  color: var(--dark);
  text-align: center;
}

form {
  background-color: var(--beige);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-weight: bold;
}

input, textarea, button {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--light-dark);
  color: var(--beige);
  font-size: 16px;
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
}

button {
  background-color: var(--accent-color);
  color: var(--dark);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--dark);
  color: var(--beige);
}

table {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: var(--beige);
}

th, td {
  padding: 12px;
  border: 1px solid var(--border-color);
}

th {
  background-color: var(--dark);
  color: var(--beige);
}

tr:nth-child(even) {
  background-color: var(--accent-color);
}

tr:hover {
  background-color: var(--light-dark);
  color: var(--beige);
}

.logout-button {
  margin-top: 10px;
  padding: 10px 15px;
  font-weight: bold;
  background-color: var(--dark);
  color: var(--beige);
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.logout-button:hover {
  background-color: var(--accent-color);
  color: var(--dark);
}
